<div style="width:25%;float:left">
  <p>
    <strong>Name: </strong>
    <input type="text" [(ngModel)]="contact.name" />
  </p>

  <p>
    <strong>Surname: </strong>
    <input type="text" [(ngModel)]="contact.surname" />
  </p>

  <p>
    <strong>Category: </strong>
    <input type="number" [(ngModel)]="contact.category" />
  </p>

  <p>
    <strong>Email: </strong>
    <input type="text" [(ngModel)]="contact.email" />
  </p>

  <p>
    <strong>Phone: </strong>
    <input type="number" [(ngModel)]="contact.phone" />
  </p>

  <p>
    <strong>Birth Date: </strong>
    <input type="text" [(ngModel)]="contact.birthDate" />
  </p>

</div>

<button (click)="onSubmit()">Update Contact</button>
